img
	width 100%
body
	width 70%
	margin auto
header 
	margin-top 15px
.login 
	display block
	text-align right
nav
	width 100%
	display block
	background-color #E5E5E6
	box-shadow: 0px 10px 20px #888888;
	color #59595B
	
	.lang
		display none
	
	a.item
		display inline-block
		text-align center
		margin auto 5px
		text-decoration none 
		color #59595B
		font-size 1 em 
		text-transform uppercase
		vertical-align middle
		 &:last-child
		 	position relative
		 	width 5%
			 &:hover .lang
			 	display block
			 	position: absolute
			 	top 25px
			 	right 0px
				
		
		
	